<% provide(:title, "About") %>
<h1>About</h1>
<p>Lorem ipsum dolor sit amet, et volumus placerat qualisque has, pro an dicat aeque. Mea magna efficiendi ad, vis ei malorum lucilius salutandi, eu mea alienum salutandi. Cu sit illum errem. Nec sint magna consectetuer ea, ne case laudem tibique vis, sanctus sensibus ocurreret eam ut. His alia rebum dolore eu, nec eu odio ipsum. Mei mucius quaestio complectitur in.
</p>
